[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "3rdparty/imnodes"]
	path = 3rdparty/imnodes
	url = https://github.com/Nelarius/imnodes
	branch = master
[submodule "3rdparty/ImGuiFileDialog"]
	path = 3rdparty/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
	branch = Lib_Only
[submodule "3rdparty/mlcc"]
	path = 3rdparty/mlcc
	url = https://github.com/scarsty/mlcc
	branch = master
[submodule "3rdparty/singlefilegraph"]
	path = 3rdparty/singlefilegraph
	url = https://github.com/gml4gtk/singlefilegraph
